*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header background color  */

.bg_color{
    background-color: #FFF9F4;
}

.text_color{
    color: #FA804C;
}

.all_button{
    padding: 10px 25px;
    background-color: #3948D4;
    color: white;
    border: none;
    border-radius: 10px;


}

.all_button:hover{
    background-color: black;
}